@{
    ViewData["Title"] = "Trang chủ";
}

@await Html.PartialAsync("/Views/About/component.cshtml")
@await Html.PartialAsync("/Views/About/component2.cshtml")

<!-- Slider Start -->
<section class="st-slider">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img class="bg" src="./images/bg2.jpg" alt="">
                <div class="carousel-caption1">
                    <h3>Sự Lựa Chọn Hoàn Hảo Của Mọi Doanh Nghiệp</h3>
                    <h5>Chúng tôi luôn mang đến những sản phẩm, trải nghiệm chất lượng</h5>
                    <div class="button-action">
                        <a class="button-primary link" href="#supportContact">LIÊN HỆ NGAY</a>
                        <a class="button-primary outline link" href="#">
                            XEM THÊM
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                                <g clip-path="url(#clip0_274_532)">
                                    <path d="M5.42 14.0067C5.74667 14.3333 6.27334 14.3333 6.6 14.0067L12.14 8.46667C12.4 8.20667 12.4 7.78667 12.14 7.52667L6.6 1.98667C6.27334 1.66 5.74667 1.66 5.42 1.98667C5.09334 2.31334 5.09334 2.84 5.42 3.16667L10.2467 8L5.41334 12.8333C5.09334 13.1533 5.09334 13.6867 5.42 14.0067Z" fill="white" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_274_532">
                                        <rect width="16" height="16" fill="white" transform="translate(0.5)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img class="bg" src="./images/bg.jpg" alt="">
                <div class="carousel-caption1">
                    <h3>Sự Lựa Chọn Hoàn Hảo Của Mọi Doanh Nghiệp</h3>
                    <h5>Chúng tôi luôn mang đến những sản phẩm, trải nghiệm chất lượng</h5>
                    <div class="button-action">
                        <a class="button-primary link" href="#supportContact">LIÊN HỆ NGAY</a>
                        <a class="button-primary outline link" href="#">
                            XEM THÊM
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                                <g clip-path="url(#clip0_274_532)">
                                    <path d="M5.42 14.0067C5.74667 14.3333 6.27334 14.3333 6.6 14.0067L12.14 8.46667C12.4 8.20667 12.4 7.78667 12.14 7.52667L6.6 1.98667C6.27334 1.66 5.74667 1.66 5.42 1.98667C5.09334 2.31334 5.09334 2.84 5.42 3.16667L10.2467 8L5.41334 12.8333C5.09334 13.1533 5.09334 13.6867 5.42 14.0067Z" fill="white" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_274_532">
                                        <rect width="16" height="16" fill="white" transform="translate(0.5)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img class="bg" src="./images/bg3.jpg" alt="">
                <div class="carousel-caption1">
                    <h3>Sự Lựa Chọn Hoàn Hảo Của Mọi Doanh Nghiệp</h3>
                    <h5>Chúng tôi luôn mang đến những sản phẩm, trải nghiệm chất lượng</h5>
                    <div class="button-action">
                        <a class="button-primary link" href="#supportContact">LIÊN HỆ NGAY</a>
                        <a class="button-primary outline link" href="#">
                            XEM THÊM
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev ct-button-action ct-button-action__left" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next ct-button-action ct-button-action__right" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="road-line">
        <img src="./images/road-line.png" alt="Road line">
    </div>
</section>
<!-- Slider Start -->

<!-- About Us Start -->
<section class="section">
    <div class="l-container">
        <div class="abouts">
            <div class="abouts-img">
                <img src="./images/about-index.jpg" alt="About Us">
            </div>
            <div class="abouts-content">
                <span class="abouts-subtitle">Về chúng tôi</span>
                <h4 class="abouts-title">Công ty phần mềm ERP Khoáng Triển</h4>
                <div class="abouts-desc">
                    In a professional context it often happens that private or corporate clients corder
                </div>
                <div class="abouts-desc">
                    In a professional context it often happens that private or corporate clients corder a publication to be made and presented.
                    In a professional context it often happens that private or corporate clients corder a publication to be made and presented.
                    In a professional context it often happens that private or corporate clients corder a publication to be made and presented.
                </div>
                <div class="abouts-button">
                    <a class="button-primary link" href="about.html">
                        ĐỌC TIẾP
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                            <g clip-path="url(#clip0_274_532)">
                                <path d="M5.42 14.0067C5.74667 14.3333 6.27334 14.3333 6.6 14.0067L12.14 8.46667C12.4 8.20667 12.4 7.78667 12.14 7.52667L6.6 1.98667C6.27334 1.66 5.74667 1.66 5.42 1.98667C5.09334 2.31334 5.09334 2.84 5.42 3.16667L10.2467 8L5.41334 12.8333C5.09334 13.1533 5.09334 13.6867 5.42 14.0067Z" fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0_274_532">
                                    <rect width="16" height="16" fill="white" transform="translate(0.5)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us End -->

<!-- Analyst Start -->
    <section class="section st-analyst">
        <div class="l-container">
            <div class="analyst">
                <div class="analyst-item">
                    <div class="analyst-text">
                        <div class="analyst-num">10</div>
                        <div class="analyst-title">Giải pháp ERP</div>
                    </div>
                    <div class="analyst-line cl-primary" style="--width-a: 30px"></div>
                </div>
                <div class="analyst-item">
                    <div class="analyst-text">
                        <div class="analyst-num">85</div>
                        <div class="analyst-title">Giải pháp mạng</div>
                    </div>
                    <div class="analyst-line cl-blue" style="--width-a: 160px"></div>
                </div>
                <div class="analyst-item">
                    <div class="analyst-text">
                        <div class="analyst-num">42</div>
                        <div class="analyst-title">Dịch vụ phần mềm</div>
                    </div>
                    <div class="analyst-line cl-green" style="--width-a: 90px"></div>
                </div>
                <div class="analyst-item">
                    <div class="analyst-text">
                        <div class="analyst-num">35</div>
                        <div class="analyst-title">PM bản quyền</div>
                    </div>
                    <div class="analyst-line cl-dark-blue" style="--width-a: 60px"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Analyst End -->
<!-- Product Hot Start -->
<section class="section st-product">
    <div class="l-container">
        <div class="title text-center">Sản phẩm nổi bật</div>
        <div class="product-list">
            <div class="frame-item">
                <div class="hasLink">
                    <picture class="picture-avatar">
                        <img src="./images/sp1.jpg" alt="Sản phẩm 1">
                    </picture>
                    <a class="link" href="product-detail.html"></a>
                </div>
                <div class="frame-item-content">
                    <div class="frame-item-cate tag">Phần mềm Quản lí</div>
                    <div class="frame-item-title">
                        <a href="product-detail.html"><h3>HRM Quản lí nhân sự</h3></a>
                        <div class="author">Phát triển bởi <span>eBOSS</span></div>
                    </div>
                    <div class="frame-item-desc">
                        Placerat tempor dolor eu leo ullamcorper et magnis habitant ultrices consectetur arcu nulla mattis fermentum adipiscingnulla mattis fermentum
                    </div>
                    <div class="frame-item-action ct-link-primary">
                        <a href="product-detail.html">Tiếp tục xem</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path d="M4.25 12H20.75" stroke="#2979FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14 5.25L20.75 12L14 18.75" stroke="#2979FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="frame-item">
                <div class="hasLink">
                    <picture class="picture-avatar">
                        <img src="./images/sp2.jpg" alt="Sản phẩm 1">
                    </picture>
                    <a class="link" href="product-detail.html"></a>
                </div>
                <div class="frame-item-content">
                    <div class="frame-item-cate tag">Phần mềm Quản lí</div>
                    <div class="frame-item-title">
                        <a href="product-detail.html"><h3>SCM Quản lí thu mua</h3></a>
                        <div class="author">Phát triển bởi <span>eBOSS</span></div>
                    </div>
                    <div class="frame-item-desc">
                        Placerat tempor dolor eu leo ullamcorper et magnis habitant ultrices consectetur arcu nulla mattis fermentum adipiscingnulla mattis fermentum
                    </div>
                    <div class="frame-item-action ct-link-primary">
                        <a href="product-detail.html">Tiếp tục xem</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path d="M4.25 12H20.75" stroke="#2979FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14 5.25L20.75 12L14 18.75" stroke="#2979FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="frame-item">
                <div class="hasLink">
                    <picture class="picture-avatar">
                        <img src="./images/sp3.jpg" alt="Sản phẩm 1">
                    </picture>
                    <a class="link" href="product-detail.html"></a>
                </div>
                <div class="frame-item-content">
                    <div class="frame-item-cate tag">Phần mềm Quản lí</div>
                    <div class="frame-item-title">
                        <a href="product-detail.html"><h3>CRM Quản lí kinh doanh</h3></a>
                        <div class="author">Phát triển bởi <span>eBOSS</span></div>
                    </div>
                    <div class="frame-item-desc">
                        Placerat tempor dolor eu leo ullamcorper et magnis habitant ultrices consectetur arcu nulla mattis fermentum adipiscingnulla mattis fermentum
                    </div>
                    <div class="frame-item-action ct-link-primary">
                        <a href="product-detail.html">Tiếp tục xem</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path d="M4.25 12H20.75" stroke="#2979FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14 5.25L20.75 12L14 18.75" stroke="#2979FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Hot End -->

<!-- Service Hot Start -->
<section class="section st-product">
    <div class="l-container">
        <div class="title text-center">Dịch vụ nổi bật</div>
        <div class="product-list">
            <div class="frame-item">
                <div class="hasLink">
                    <picture class="picture-avatar">
                        <img src="./images/dv1.jpg" alt="Sản phẩm 1">
                    </picture>
                    <a class="link" href="service-detail.html"></a>
                </div>
                <div class="frame-item-content">
                    <div class="frame-item-cate tag">Dịch vụ</div>
                    <div class="frame-item-title">
                        <a href="service-detail.html"><h3>Giải pháp mạng</h3></a>
                        <div class="author">Phát triển bởi <span>eBOSS</span></div>
                    </div>
                    <div class="frame-item-desc">
                        Placerat tempor dolor eu leo ullamcorper et magnis habitant ultrices consectetur arcu nulla mattis fermentum adipiscingnulla mattis fermentum
                    </div>
                    <div class="frame-item-action ct-link-primary">
                        <a href="service-detail.html">Tiếp tục xem</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path d="M4.25 12H20.75" stroke="#2979FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14 5.25L20.75 12L14 18.75" stroke="#2979FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="frame-item">
                <div class="hasLink">
                    <picture class="picture-avatar">
                        <img src="./images/dv2.jpg" alt="Sản phẩm 1">
                    </picture>
                    <a class="link" href="service-detail.html"></a>
                </div>
                <div class="frame-item-content">
                    <div class="frame-item-cate tag">Dịch vụ</div>
                    <div class="frame-item-title">
                        <a href="service-detail.html"><h3>Thiết bị ICT</h3></a>
                        <div class="author">Phát triển bởi <span>eBOSS</span></div>
                    </div>
                    <div class="frame-item-desc">
                        Placerat tempor dolor eu leo ullamcorper et magnis habitant ultrices consectetur arcu nulla mattis fermentum adipiscingnulla mattis fermentum
                    </div>
                    <div class="frame-item-action ct-link-primary">
                        <a href="service-detail.html">Tiếp tục xem</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path d="M4.25 12H20.75" stroke="#2979FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14 5.25L20.75 12L14 18.75" stroke="#2979FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="frame-item">
                <div class="hasLink">
                    <picture class="picture-avatar">
                        <img src="./images/dv3.jpg" alt="Sản phẩm 1">
                    </picture>
                    <a class="link" href="service-detail.html"></a>
                </div>
                <div class="frame-item-content">
                    <div class="frame-item-cate tag">Dịch vụ phần mềm</div>
                    <div class="frame-item-title">
                        <a href="service-detail.html"><h3>Phần mềm bản quyền</h3></a>
                        <div class="author">Phát triển từ <span>eBOSS</span></div>
                    </div>
                    <div class="frame-item-desc">
                        Placerat tempor dolor eu leo ullamcorper et magnis habitant ultrices consectetur arcu nulla mattis fermentum adipiscingnulla mattis fermentum
                    </div>
                    <div class="frame-item-action ct-link-primary">
                        <a href="service-detail.html">Tiếp tục xem</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path d="M4.25 12H20.75" stroke="#2979FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14 5.25L20.75 12L14 18.75" stroke="#2979FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Hot End -->

<!-- Contact us Start -->
<section class="section st-contact-us">
    <div class="l-container">
        <div class="contact">
            <h3>Liên hệ với <br /> Chúng tôi</h3>
            <div class="contact-desc">Do you know what it takes to grow your business online? Do you want to?</div>
            <div class="contact-phone">028 2227 7979</div>
            <div class="contact-email">hr@eboss.vn</div>
        </div>
    </div>
</section>
<!-- Contact us End -->
<!-- Blogs Start -->
<section class="section st-blog">
    <div class="l-container">
        <div class="ct-title text-center">
            <div class="subtitle">Blog</div>
            <div class="title">Tin nổi bật</div>
        </div>
        <div class="blog-content">
            <div class="blog">
                <div class="blog-item">
                    <img class="bg-img" src="./images/blog1.jpg" alt="">
                    <div class="item-content">
                        <div class="item-date">20/10/2023</div>
                        <a href="blog-detail.html"><div class="item-title">Cập nhật phiên bản mới cho Phần mềm ERP Cập nhật phiên bản mới cho Phần mềm ERP</div></a>
                    </div>
                    <div class="item-action text-center">
                        <a class="link" href="blog-detail.html">XEM THÊM</a>
                    </div>
                </div>
                <div class="blog-item">
                    <img class="bg-img" src="./images/blog1.jpg" alt="">
                    <div class="item-content">
                        <div class="item-date">20/10/2023</div>
                        <a href="blog-detail.html"><div class="item-title">Cập nhật phiên bản mới cho Phần mềm ERP Cập nhật phiên bản mới cho Phần mềm ERP</div></a>
                    </div>
                    <div class="item-action text-center">
                        <a class="link" href="blog-detail.html">XEM THÊM</a>
                    </div>
                </div>
                <div class="blog-item">
                    <img class="bg-img" src="./images/blog1.jpg" alt="">
                    <div class="item-content">
                        <div class="item-date">20/10/2023</div>
                        <a href="blog-detail.html"><div class="item-title">Cập nhật phiên bản mới cho Phần mềm ERP Cập nhật phiên bản mới cho Phần mềm ERP</div></a>
                    </div>
                    <div class="item-action text-center">
                        <a class="link" href="blog-detail.html">XEM THÊM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blogs End -->
<!-- Partner Start -->
<section class="section">
    <div class="l-container">
        <div id="recipeCarousel" class="carousel slide ct-carousel-partner" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="col-lg-2 col-sm-6 p-2 col-12">
                        <div class="card1">
                            <div class="card-img">
                                <img src="./images/partner/Rectangle 61.jpg" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-sm-6 p-2 col-12">
                        <div class="card-item">
                            <div class="card-img">
                                <img src="./images/partner/Rectangle 63.jpg" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-sm-6 p-2 col-12">
                        <div class="card-item">
                            <div class="card-img">
                                <img src="./images/partner/Rectangle 66.jpg" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-sm-6 p-2 col-12">
                        <div class="card-item">
                            <div class="card-img">
                                <img src="./images/partner/Rectangle 68.jpg" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-6 p-2 col-12">
                        <div class="card-item">
                            <div class="card-img">
                                <img src="./images/partner/Rectangle 69.jpg" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-transparent" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</section>
<!-- Partner End -->
<!-- Support Start -->
<section id="supportContact" class="section st-support">
    <div class="st-support__bgtop"></div>
    <div class="l-container">
        <div class="support">
            <div class="support-text">
                <h3>Hỗ trợ ngay</h3>
                <div class="support-subtitle">
                    Do you know what it takes to grow your business online? Do you want to?
                </div>
            </div>
            <div class="support-form">
                <div class="form">
                    <div class="form-line">
                        <div class="form-item">
                            <div class="form-title">Họ và tên <span>*</span></div>
                            <div><input type="text"></div>
                        </div>
                        <div class="form-item">
                            <div class="form-title">Email <span>*</span></div>
                            <div><input type="email"></div>
                        </div>
                    </div>
                    <div class="form-line">
                        <div class="form-item">
                            <div class="form-title">Số điện thoại <span>*</span></div>
                            <div><input type="text"></div>
                        </div>
                        <div class="form-item">
                            <div class="form-title">Địa chỉ <span>*</span></div>
                            <div><input type="text"></div>
                        </div>
                    </div>
                    <div class="form-line">
                        <div class="form-item">
                            <div class="form-title">Yêu cầu của bạn <span>*</span></div>
                            <textarea placeholder="Nhập nội dung" cols="30" rows="7"></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="button-primary link" href="#">Gửi yêu cầu</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Support End -->
