@{
	ViewData["Title"] = "About Details";
}

<!-- Banner Start -->
<section class="st-banner">
    <div class="l-container">
        <h1>Chi tiết tin tức</h1>
    </div>
</section>
<!-- Banner End -->

<section class="section st-blog-main">
    <div class="l-container">
        <div class="blog-btn-humberger" onclick="funcShowMenuBlog()">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 25 25" fill="none">
                <path d="M3.58813 12.3181H21.5881" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3.58813 6.31812H21.5881" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3.58813 18.3181H21.5881" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="blog">
            <vc:blog-item model="@Model.BlogItem" />
            <div class="blog-detail-content">
                <h4 class="title blog-title">An introduction about Graph Database - Gremlin</h4>
                <div class="author mb-4">
                    <div class="author">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_417_1636)">
                                <path d="M17.5 3V3.5H18H19C19.8239 3.5 20.5 4.17614 20.5 5V19C20.5 19.8239 19.8239 20.5 19 20.5H5C4.16777 20.5 3.5 19.8255 3.5 19V5C3.5 4.17451 4.16777 3.5 5 3.5H6H6.5V3V1.5H7.5V3V3.5H8H16H16.5V3V1.5H17.5V3ZM19 19.5H19.5V19V9V8.5H19H5H4.5V9V19V19.5H5H19ZM19 7.5H19.5V7V5V4.5H19H5H4.5V5V7V7.5H5H19Z" fill="#323232" stroke="#808080" />
                            </g>
                            <defs>
                                <clipPath id="clip0_417_1636">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <div>20/09/2023</div>
                    </div>
                    <div class="writer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_417_292)">
                                <path d="M18.1 18.6H18.6V18.1V17C18.6 16.7295 18.4457 16.5182 18.3307 16.3909C18.2013 16.2475 18.0306 16.1118 17.8421 15.986C17.4624 15.7325 16.9426 15.4745 16.3437 15.2435C15.1456 14.7814 13.5591 14.4 12 14.4C10.4409 14.4 8.8544 14.7814 7.65632 15.2435C7.05741 15.4745 6.53759 15.7325 6.15785 15.986C5.96945 16.1118 5.79872 16.2475 5.66925 16.3909C5.55427 16.5182 5.4 16.7295 5.4 17V18.1V18.6H5.9H18.1ZM14.6 8C14.6 6.56386 13.4361 5.4 12 5.4C10.5639 5.4 9.4 6.56386 9.4 8C9.4 9.43614 10.5639 10.6 12 10.6C13.4361 10.6 14.6 9.43614 14.6 8ZM8.5 8C8.5 6.06614 10.0661 4.5 12 4.5C13.9339 4.5 15.5 6.06614 15.5 8C15.5 9.93386 13.9339 11.5 12 11.5C10.0661 11.5 8.5 9.93386 8.5 8ZM4.5 17C4.5 16.5186 4.73716 16.06 5.21364 15.6202C5.69352 15.1773 6.38208 14.7882 7.18469 14.4666C8.79071 13.8233 10.7275 13.5 12 13.5C13.2725 13.5 15.2093 13.8233 16.8153 14.4666C17.6179 14.7882 18.3065 15.1773 18.7864 15.6202C19.2628 16.06 19.5 16.5186 19.5 17V19C19.5 19.2739 19.2739 19.5 19 19.5H5C4.72614 19.5 4.5 19.2739 4.5 19V17Z" stroke="#808080" />
                            </g>
                            <defs>
                                <clipPath id="clip0_417_292">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <div>Content Writer</div>
                    </div>
                </div>
                <div class="text-center"><img style="width: 100%; max-width: 600px;" src="~/images/blog-detail.jpg" alt=""></div>
                <div><h2 class="blog-detail-h2">Introduction</h2></div>
                <div class="blog-detail-desc">
                    Graph database is a database that uses nodes and edges with properties to represent the connections between objects in a data model. Nodes are entities or domain objects in the model. Edges are directional links between two nodes. Both nodes and edges have labels and properties to describe the

                    </br></br>Graph databases are useful for scenarios where the connections between data are more important than the data itself. Some examples of graph database use cases are:

                    </br></br>&ensp;&ensp;&ensp;&ensp;- Recommendation engines in e-commerce, social media, and content platforms. Graph databases can help provide personalized and relevant suggestions to users based on their preferences, behavior, and network.
                    </br>&ensp;&ensp;&ensp;&ensp;- Fraud detection in banking, insurance, and cybersecurity. Graph databases can help identify fraud patterns and anomalies by analyzing the relationships between transactions, accounts, devices, and locations.
                    </br>&ensp;&ensp;&ensp;&ensp;- Network and IT infrastructure monitoring for telecom, cloud, and IoT applications. Graph databases can help manage complex interdependencies between network components, devices, services, and users.
                    </br>&ensp;&ensp;&ensp;&ensp;- Master data management for enterprises that need to organize and integrate data from multiple sources and systems. Graph databases can help create a unified view of data entities and their relationships across the organization.
                    </br>&ensp;&ensp;&ensp;&ensp;- Knowledge graphs for search engines, digital assistants, and semantic web applications. Graph databases can help store and query structured and unstructured data that represents facts, concepts, entities, and their relationships.
                    </br>&ensp;&ensp;&ensp;&ensp;- These are just some of the use cases where graph databases can provide advantages over traditional relational or document databases. Graph databases can also be used for artificial intelligence, life sciences, government, social networks, identity and access management, and more.
                </div>
                <div><h2 class="blog-detail-h2">What is theGremin?</h2></div>
                <div class="blog-detail-desc">
                    Gremlin lets users write short and powerful traversals or queries on their property graph using a functional, data-flow language. A Gremlin traversal consists of a series of (possibly nested) steps that each do a single operation on the data stream.
                    </br></br>Vertices and edges make up a property graph. Both objects can have properties that are key-value pairs of any number.
                    </br>&ensp;&ensp;&ensp;&ensp;- Vertices/nodes: Vertices denote discrete entities.
                    </br>&ensp;&ensp;&ensp;&ensp;- Edges/relationships: Edges denote relationships between vertices.
                    </br>&ensp;&ensp;&ensp;&ensp;- Properties: Properties express information (or metadata) about the vertices and edges. There can be any number of properties in either vertices or edges, and they can be used to describe and filter the objects in a query.
                    </br>&ensp;&ensp;&ensp;&ensp;- Label: A label is a name or the identifier of a vertex or an edge. Labels can group multiple vertices or edges such that all the vertices/edges in a group have a certain label.
                </div>
            </div>

            <div class="blog-menu">
                <div class="ct-input-search">
                    <input class="input-search" type="text" placeholder="Tìm kiếm tin tức">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M10.875 18.75C15.2242 18.75 18.75 15.2242 18.75 10.875C18.75 6.52576 15.2242 3 10.875 3C6.52576 3 3 6.52576 3 10.875C3 15.2242 6.52576 18.75 10.875 18.75Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16.4434 16.4438L20.9997 21.0001" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>

                <div class="blog-line"></div>

                <div class="blog-cate">
                    <h4>DANH MỤC</h4>
                    <ul>
                        <li><a href="#">Thông tin phần mềm</a></li>
                        <li><a href="#">Tin tức công nghệ</a></li>
                        <li><a href="#">Tin mới nhất</a></li>
                        <li><a href="#">Tin cập nhật phần mềm</a></li>
                    </ul>
                </div>

                <div class="blog-line"></div>

                <div class="blog-hot">
                    <h4>BÀI VIẾT NỔI BẬT</h4>
                    <div class="hot">
                        <div class="hot-item">
                            <img src="~/images/dv1.jpg" alt="Hot Blog">
                            <div class="hot-info">
                                <a href="#" class="hot-title">Cập nhật eBOSS App v.3.2</a>
                                <div class="hot-date">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <g clip-path="url(#clip0_417_707)">
                                            <path d="M17.5 3V3.5H18H19C19.8239 3.5 20.5 4.17614 20.5 5V19C20.5 19.8239 19.8239 20.5 19 20.5H5C4.16777 20.5 3.5 19.8255 3.5 19V5C3.5 4.17451 4.16777 3.5 5 3.5H6H6.5V3V1.5H7.5V3V3.5H8H16H16.5V3V1.5H17.5V3ZM19 19.5H19.5V19V9V8.5H19H5H4.5V9V19V19.5H5H19ZM19 7.5H19.5V7V5V4.5H19H5H4.5V5V7V7.5H5H19Z" fill="#323232" stroke="#808080" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_417_707">
                                                <rect width="24" height="24" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <div>20/09/2023</div>
                                </div>
                            </div>
                        </div>
                        <div class="hot-item">
                            <img src="~/images/dv1.jpg" alt="Hot Blog">
                            <div class="hot-info">
                                <a href="#" class="hot-title">Cập nhật eBOSS App v.3.2</a>
                                <div class="hot-date">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <g clip-path="url(#clip0_417_707)">
                                            <path d="M17.5 3V3.5H18H19C19.8239 3.5 20.5 4.17614 20.5 5V19C20.5 19.8239 19.8239 20.5 19 20.5H5C4.16777 20.5 3.5 19.8255 3.5 19V5C3.5 4.17451 4.16777 3.5 5 3.5H6H6.5V3V1.5H7.5V3V3.5H8H16H16.5V3V1.5H17.5V3ZM19 19.5H19.5V19V9V8.5H19H5H4.5V9V19V19.5H5H19ZM19 7.5H19.5V7V5V4.5H19H5H4.5V5V7V7.5H5H19Z" fill="#323232" stroke="#808080" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_417_707">
                                                <rect width="24" height="24" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <div>20/09/2023</div>
                                </div>
                            </div>
                        </div>
                        <div class="hot-item">
                            <img src="~/images/dv1.jpg" alt="Hot Blog">
                            <div class="hot-info">
                                <div href="#" class="hot-title">Cập nhật eBOSS App v.3.2 Cập nhật eBOSS Application v.3.2 Cập nhật eBOSS Application v.3.2</div>
                                <div class="hot-date">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <g clip-path="url(#clip0_417_707)">
                                            <path d="M17.5 3V3.5H18H19C19.8239 3.5 20.5 4.17614 20.5 5V19C20.5 19.8239 19.8239 20.5 19 20.5H5C4.16777 20.5 3.5 19.8255 3.5 19V5C3.5 4.17451 4.16777 3.5 5 3.5H6H6.5V3V1.5H7.5V3V3.5H8H16H16.5V3V1.5H17.5V3ZM19 19.5H19.5V19V9V8.5H19H5H4.5V9V19V19.5H5H19ZM19 7.5H19.5V7V5V4.5H19H5H4.5V5V7V7.5H5H19Z" fill="#323232" stroke="#808080" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_417_707">
                                                <rect width="24" height="24" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <div>20/09/2023</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="blogMenu" class="ct-blog-menu">
        <div class="icon-close text-end mb-1">
            <!-- <svg onclick="funcShowMenuBlog()" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                <path d="M22.7705 3.10986H2.77051L10.7705 12.5699V19.1099L14.7705 21.1099V12.5699L22.7705 3.10986Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> -->
            <svg onclick="funcShowMenuBlog()" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 25 25" fill="none">
                <path d="M18.9758 6.41919L6.97583 18.4192" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6.97583 6.41919L18.9758 18.4192" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="ct-input-search">
            <input class="input-search" type="text" placeholder="Tìm kiếm tin tức">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M10.875 18.75C15.2242 18.75 18.75 15.2242 18.75 10.875C18.75 6.52576 15.2242 3 10.875 3C6.52576 3 3 6.52576 3 10.875C3 15.2242 6.52576 18.75 10.875 18.75Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M16.4434 16.4438L20.9997 21.0001" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>

        <div class="blog-line"></div>

        <div class="blog-cate">
            <h4>DANH MỤC</h4>
            <ul>
                <li><a href="#">Thông tin phần mềm</a></li>
                <li><a href="#">Tin tức công nghệ</a></li>
                <li><a href="#">Tin mới nhất</a></li>
                <li><a href="#">Tin cập nhật phần mềm</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="section st-blog-related">
    <div class="l-container">
        <h2 class="title">Bài viết liên quan</h2>
        <div class="blog-related">
            <div class="frame-item">
                <div class="hasLink">
                    <picture class="picture-avatar">
                        <img src="~/images/sp2.jpg" alt="Sản phẩm 1">
                    </picture>
                    <a class="link" href="blog-detail.html"></a>
                </div>
                <div class="frame-item-content">
                    <div class="frame-item-cate tag">Phần mềm Quản lí</div>
                    <div class="frame-item-title">
                        <a href="blog-detail.html"><h3>SCM Quản lí thu mua</h3></a>
                        <div class="author">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g clip-path="url(#clip0_417_1636)">
                                        <path d="M17.5 3V3.5H18H19C19.8239 3.5 20.5 4.17614 20.5 5V19C20.5 19.8239 19.8239 20.5 19 20.5H5C4.16777 20.5 3.5 19.8255 3.5 19V5C3.5 4.17451 4.16777 3.5 5 3.5H6H6.5V3V1.5H7.5V3V3.5H8H16H16.5V3V1.5H17.5V3ZM19 19.5H19.5V19V9V8.5H19H5H4.5V9V19V19.5H5H19ZM19 7.5H19.5V7V5V4.5H19H5H4.5V5V7V7.5H5H19Z" fill="#323232" stroke="#808080" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_417_1636">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div>20/09/2023</div>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g clip-path="url(#clip0_417_292)">
                                        <path d="M18.1 18.6H18.6V18.1V17C18.6 16.7295 18.4457 16.5182 18.3307 16.3909C18.2013 16.2475 18.0306 16.1118 17.8421 15.986C17.4624 15.7325 16.9426 15.4745 16.3437 15.2435C15.1456 14.7814 13.5591 14.4 12 14.4C10.4409 14.4 8.8544 14.7814 7.65632 15.2435C7.05741 15.4745 6.53759 15.7325 6.15785 15.986C5.96945 16.1118 5.79872 16.2475 5.66925 16.3909C5.55427 16.5182 5.4 16.7295 5.4 17V18.1V18.6H5.9H18.1ZM14.6 8C14.6 6.56386 13.4361 5.4 12 5.4C10.5639 5.4 9.4 6.56386 9.4 8C9.4 9.43614 10.5639 10.6 12 10.6C13.4361 10.6 14.6 9.43614 14.6 8ZM8.5 8C8.5 6.06614 10.0661 4.5 12 4.5C13.9339 4.5 15.5 6.06614 15.5 8C15.5 9.93386 13.9339 11.5 12 11.5C10.0661 11.5 8.5 9.93386 8.5 8ZM4.5 17C4.5 16.5186 4.73716 16.06 5.21364 15.6202C5.69352 15.1773 6.38208 14.7882 7.18469 14.4666C8.79071 13.8233 10.7275 13.5 12 13.5C13.2725 13.5 15.2093 13.8233 16.8153 14.4666C17.6179 14.7882 18.3065 15.1773 18.7864 15.6202C19.2628 16.06 19.5 16.5186 19.5 17V19C19.5 19.2739 19.2739 19.5 19 19.5H5C4.72614 19.5 4.5 19.2739 4.5 19V17Z" stroke="#808080" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_417_292">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div>Content Writer</div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-item-desc">
                        Placerat tempor dolor eu leo ullamcorper et magnis habitant ultrices consectetur arcu nulla mattis fermentum adipiscingnulla mattis fermentum
                    </div>
                    <div class="frame-item-action ct-link-primary">
                        <a href="#">Tiếp tục xem</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path d="M4.25 12H20.75" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14 5.25L20.75 12L14 18.75" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="frame-item">
                <div class="hasLink">
                    <picture class="picture-avatar">
                        <img src="~/images/sp2.jpg" alt="Sản phẩm 1">
                    </picture>
                    <a class="link" href="blog-detail.html"></a>
                </div>
                <div class="frame-item-content">
                    <div class="frame-item-cate tag">Phần mềm Quản lí</div>
                    <div class="frame-item-title">
                        <a href="blog-detail.html"><h3>SCM Quản lí thu mua</h3></a>
                        <div class="author">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g clip-path="url(#clip0_417_1636)">
                                        <path d="M17.5 3V3.5H18H19C19.8239 3.5 20.5 4.17614 20.5 5V19C20.5 19.8239 19.8239 20.5 19 20.5H5C4.16777 20.5 3.5 19.8255 3.5 19V5C3.5 4.17451 4.16777 3.5 5 3.5H6H6.5V3V1.5H7.5V3V3.5H8H16H16.5V3V1.5H17.5V3ZM19 19.5H19.5V19V9V8.5H19H5H4.5V9V19V19.5H5H19ZM19 7.5H19.5V7V5V4.5H19H5H4.5V5V7V7.5H5H19Z" fill="#323232" stroke="#808080" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_417_1636">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div>20/09/2023</div>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g clip-path="url(#clip0_417_292)">
                                        <path d="M18.1 18.6H18.6V18.1V17C18.6 16.7295 18.4457 16.5182 18.3307 16.3909C18.2013 16.2475 18.0306 16.1118 17.8421 15.986C17.4624 15.7325 16.9426 15.4745 16.3437 15.2435C15.1456 14.7814 13.5591 14.4 12 14.4C10.4409 14.4 8.8544 14.7814 7.65632 15.2435C7.05741 15.4745 6.53759 15.7325 6.15785 15.986C5.96945 16.1118 5.79872 16.2475 5.66925 16.3909C5.55427 16.5182 5.4 16.7295 5.4 17V18.1V18.6H5.9H18.1ZM14.6 8C14.6 6.56386 13.4361 5.4 12 5.4C10.5639 5.4 9.4 6.56386 9.4 8C9.4 9.43614 10.5639 10.6 12 10.6C13.4361 10.6 14.6 9.43614 14.6 8ZM8.5 8C8.5 6.06614 10.0661 4.5 12 4.5C13.9339 4.5 15.5 6.06614 15.5 8C15.5 9.93386 13.9339 11.5 12 11.5C10.0661 11.5 8.5 9.93386 8.5 8ZM4.5 17C4.5 16.5186 4.73716 16.06 5.21364 15.6202C5.69352 15.1773 6.38208 14.7882 7.18469 14.4666C8.79071 13.8233 10.7275 13.5 12 13.5C13.2725 13.5 15.2093 13.8233 16.8153 14.4666C17.6179 14.7882 18.3065 15.1773 18.7864 15.6202C19.2628 16.06 19.5 16.5186 19.5 17V19C19.5 19.2739 19.2739 19.5 19 19.5H5C4.72614 19.5 4.5 19.2739 4.5 19V17Z" stroke="#808080" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_417_292">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div>Content Writer</div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-item-desc">
                        Placerat tempor dolor eu leo ullamcorper et magnis habitant ultrices consectetur arcu nulla mattis fermentum adipiscingnulla mattis fermentum
                    </div>
                    <div class="frame-item-action ct-link-primary">
                        <a href="#">Tiếp tục xem</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path d="M4.25 12H20.75" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14 5.25L20.75 12L14 18.75" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="frame-item">
                <div class="hasLink">
                    <picture class="picture-avatar">
                        <img src="~/images/sp2.jpg" alt="Sản phẩm 1">
                    </picture>
                    <a class="link" href="blog-detail.html"></a>
                </div>
                <div class="frame-item-content">
                    <div class="frame-item-cate tag">Phần mềm Quản lí</div>
                    <div class="frame-item-title">
                        <a href="blog-detail.html"><h3>SCM Quản lí thu mua</h3></a>
                        <div class="author">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g clip-path="url(#clip0_417_1636)">
                                        <path d="M17.5 3V3.5H18H19C19.8239 3.5 20.5 4.17614 20.5 5V19C20.5 19.8239 19.8239 20.5 19 20.5H5C4.16777 20.5 3.5 19.8255 3.5 19V5C3.5 4.17451 4.16777 3.5 5 3.5H6H6.5V3V1.5H7.5V3V3.5H8H16H16.5V3V1.5H17.5V3ZM19 19.5H19.5V19V9V8.5H19H5H4.5V9V19V19.5H5H19ZM19 7.5H19.5V7V5V4.5H19H5H4.5V5V7V7.5H5H19Z" fill="#323232" stroke="#808080" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_417_1636">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div>20/09/2023</div>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g clip-path="url(#clip0_417_292)">
                                        <path d="M18.1 18.6H18.6V18.1V17C18.6 16.7295 18.4457 16.5182 18.3307 16.3909C18.2013 16.2475 18.0306 16.1118 17.8421 15.986C17.4624 15.7325 16.9426 15.4745 16.3437 15.2435C15.1456 14.7814 13.5591 14.4 12 14.4C10.4409 14.4 8.8544 14.7814 7.65632 15.2435C7.05741 15.4745 6.53759 15.7325 6.15785 15.986C5.96945 16.1118 5.79872 16.2475 5.66925 16.3909C5.55427 16.5182 5.4 16.7295 5.4 17V18.1V18.6H5.9H18.1ZM14.6 8C14.6 6.56386 13.4361 5.4 12 5.4C10.5639 5.4 9.4 6.56386 9.4 8C9.4 9.43614 10.5639 10.6 12 10.6C13.4361 10.6 14.6 9.43614 14.6 8ZM8.5 8C8.5 6.06614 10.0661 4.5 12 4.5C13.9339 4.5 15.5 6.06614 15.5 8C15.5 9.93386 13.9339 11.5 12 11.5C10.0661 11.5 8.5 9.93386 8.5 8ZM4.5 17C4.5 16.5186 4.73716 16.06 5.21364 15.6202C5.69352 15.1773 6.38208 14.7882 7.18469 14.4666C8.79071 13.8233 10.7275 13.5 12 13.5C13.2725 13.5 15.2093 13.8233 16.8153 14.4666C17.6179 14.7882 18.3065 15.1773 18.7864 15.6202C19.2628 16.06 19.5 16.5186 19.5 17V19C19.5 19.2739 19.2739 19.5 19 19.5H5C4.72614 19.5 4.5 19.2739 4.5 19V17Z" stroke="#808080" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_417_292">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div>Content Writer</div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-item-desc">
                        Placerat tempor dolor eu leo ullamcorper et magnis habitant ultrices consectetur arcu nulla mattis fermentum adipiscingnulla mattis fermentum
                    </div>
                    <div class="frame-item-action ct-link-primary">
                        <a href="#">Tiếp tục xem</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path d="M4.25 12H20.75" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14 5.25L20.75 12L14 18.75" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Support Start -->
<section class="section st-support">
    <div class="st-support__bgtop"></div>
    <div class="l-container">
        <div class="support">
            <div class="support-text">
                <h3>Hỗ trợ ngay</h3>
                <div class="support-subtitle">
                    Do you know what it takes to grow your business online? Do you want to?
                </div>
            </div>
            <div class="support-form">
                <div class="form">
                    <div class="form-line">
                        <div class="form-item">
                            <div class="form-title">Họ và tên <span>*</span></div>
                            <div><input type="text"></div>
                        </div>
                        <div class="form-item">
                            <div class="form-title">Email <span>*</span></div>
                            <div><input type="email"></div>
                        </div>
                    </div>
                    <div class="form-line">
                        <div class="form-item">
                            <div class="form-title">Số điện thoại <span>*</span></div>
                            <div><input type="text"></div>
                        </div>
                        <div class="form-item">
                            <div class="form-title">Địa chỉ <span>*</span></div>
                            <div><input type="text"></div>
                        </div>
                    </div>
                    <div class="form-line">
                        <div class="form-item">
                            <div class="form-title">Yêu cầu của bạn <span>*</span></div>
                            <textarea placeholder="Nhập nội dung" cols="30" rows="7"></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="button-primary link" href="#">Gửi yêu cầu</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Support End -->