@{
	ViewData["Title"] = "About";
}

<!-- Banner Start -->
<section class="st-banner">
    <div class="l-container">
        <h1>Giới thiệu</h1>
    </div>
</section>
<!-- Banner End -->
<!-- About us Start -->
<section class="section st-about">
    <div class="l-container">
        <div class="ct-title text-center">
            <div class="subtitle">VỀ CHÚNG TÔI</div>
            <div class="title">Công ty phần mềm ERP Khoáng Triển</div>
        </div>
        <div class="about-content">
            ERP - Phần mềm quản trị doanh nghiệp, một giải pháp chuyển đổi mô hình kinh doanh từ truyền thống sang công nghệ hóa. Không chỉ giúp doanh nghiệp tiết kiệm tối đa chi phí vận hành, nhân sự, thời gian, mà còn hỗ trợ doanh nghiệp kiểm soát chặt chẽ quy trình kinh doanh, tài chính, số hóa văn bản. <br /> <br />

            Với những ưu điểm nổi trội về sự minh bạch dữ liệu, bảo mật hệ thống, tính năng linh hoạt, phần mềm ERP còn được các chuyên gia về trải nghiệm người dùng thiết kế giao diện một cách đơn giản và dễ sử dụng, hỗ trợ đa nền tảng và đa ngôn ngữ. ERP - một giải pháp tuyệt vời dành cho mọi doanh nghiệp.
        </div>
    </div>
</section>
<!-- About us End -->
<!-- History Start -->
<section class="section st-history">
    <div class="l-container">
        <div class="ct-title text-center">
            <!-- <div class="subtitle">VỀ CHÚNG TÔI</div> -->
            <div class="title">LỊCH SỬ HÌNH THÀNH VÀ PHÁT TRIỂN</div>
        </div>
        <div class="history-content">
            <div class="history-item">
                <h2>2004</h2>
                <div class="text">Công ty TNHH phần mềm ERP Khoáng Triển được thành lập vào năm 2004.</div>
            </div>
            <div class="history-item">
                <h2>2008 - 2009</h2>
                <div class="text">Công ty TNHH phần mềm ERP Khoáng Triển được thành lập vào năm 2004. Công ty TNHH phần mềm ERP Khoáng Triển được thành lập vào năm 2004. Công ty TNHH phần mềm ERP Khoáng Triển được thành lập vào năm 2004.</div>
            </div>
            <div class="history-item">
                <h2>2016</h2>
                <div class="text">Công ty TNHH phần mềm ERP Khoáng Triển được thành lập vào năm 2004.</div>
            </div>
            <div class="history-item">
                <h2>2023</h2>
                <div class="text">Công ty TNHH phần mềm ERP Khoáng Triển được thành lập vào năm 2004.</div>
            </div>
        </div>
    </div>
</section>
<!-- History End -->
<!-- Mission And Vision Start -->
<section class="section st-vision">
    <div class="l-container">
        <div class="ct-title text-center">
            <div class="title">TẦM NHÌN VÀ SỨ MỆNH</div>
        </div>
        <div class="vision">
            <div class="vision-item text-center">
                <img class="vision-img" src="~/images/about/connectdevelop.png" alt="vision 1">
                <h3 class="vision-title">Định hướng công nghệ</h3>
                <div class="vision-desc">Simple setup with the most popular ecommerce platforms. Automatic syncing.</div>
            </div>
            <div class="vision-item text-center">
                <img class="vision-img" src="~/images/about/users.png" alt="vision 1">
                <h3 class="vision-title">Trải nghiệm người dùng</h3>
                <div class="vision-desc">Simple setup with the most popular ecommerce platforms. Automatic syncing.</div>
            </div>
            <div class="vision-item text-center">
                <img class="vision-img" src="~/images/about/thumbs-up.png" alt="vision 1">
                <h3 class="vision-title">Giải pháp linh hoạt</h3>
                <div class="vision-desc">Simple setup with the most popular ecommerce platforms. Automatic syncing.</div>
            </div>
        </div>
    </div>
</section>
<!-- Mission And Vision End -->
<!-- Core Value Start -->
<section class="section st-value">
    <div class="l-container">
        <div class="value">
            <div class="value-content">
                <div class="ct-title">
                    <div class="title">GIÁ TRỊ CỐT LÕI</div>
                </div>
                <div class="value-subtitle">
                    In a professional context it often happens that private or corporate clients corder a publication to be made and presented. In a professional context it often happens that private or corporate clients corder a publication to be made and presented. In a professional context it often happens that private or corporate clients corder a publication to be made and presented.
                </div>
            </div>
            <div class="value-list">
                <div class="value-item text-center">
                    <img class="value-img" src="~/images/about/wifi.svg" alt="value 1">
                    <h3 class="value-title">Sáng tạo</h3>
                    <div class="value-desc">Simple setup with the most popular ecommerce platforms. Automatic syncing.</div>
                </div>
                <div class="value-item text-center">
                    <img class="value-img" src="~/images/about/Target.svg" alt="value 1">
                    <h3 class="value-title">Thích ứng</h3>
                    <div class="value-desc">Simple setup with the most popular ecommerce platforms. Automatic syncing.</div>
                </div>
                <div class="value-item text-center">
                    <img class="value-img" src="~/images/about/sun.svg" alt="value 1">
                    <h3 class="value-title">Tư duy</h3>
                    <div class="value-desc">Simple setup with the most popular ecommerce platforms. Automatic syncing.</div>
                </div>
                <div class="value-item text-center">
                    <img class="value-img" src="~/images/about/check-circle.svg" alt="value 1">
                    <h3 class="value-title">Linh hoạt</h3>
                    <div class="value-desc">Simple setup with the most popular ecommerce platforms. Automatic syncing.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Core Value End -->
<!-- Personnel Start -->
<section class="section st-personnel">
    <div class="l-container">
        <div class="ct-title text-center">
            <div class="title">ĐỘI NGŨ NHÂN SỰ</div>
        </div>
        <div class="personnel">
            <div class="personnel-item">
                <img class="personnel-img" src="~/images/about/per1.jpg" alt="personnel">
                <div class="personnel-name">NGUYỄN VĂN AN</div>
                <div class="personnel-pos">Quản lí</div>
            </div>
            <div class="personnel-item">
                <img class="personnel-img" src="~/images/about/per1.jpg" alt="personnel">
                <div class="personnel-name">NGUYỄN VĂN AN</div>
                <div class="personnel-pos">Quản lí</div>
            </div>
            <div class="personnel-item">
                <img class="personnel-img" src="~/images/about/per1.jpg" alt="personnel">
                <div class="personnel-name">NGUYỄN VĂN AN</div>
                <div class="personnel-pos">Quản lí</div>
            </div>
            <div class="personnel-item">
                <img class="personnel-img" src="~/images/about/per1.jpg" alt="personnel">
                <div class="personnel-name">NGUYỄN VĂN AN</div>
                <div class="personnel-pos">Quản lí</div>
            </div>
            <div class="personnel-item">
                <img class="personnel-img" src="~/images/about/per1.jpg" alt="personnel">
                <div class="personnel-name">NGUYỄN VĂN AN</div>
                <div class="personnel-pos">Quản lí</div>
            </div>
            <div class="personnel-item">
                <img class="personnel-img" src="~/images/about/per1.jpg" alt="personnel">
                <div class="personnel-name">NGUYỄN VĂN AN</div>
                <div class="personnel-pos">Quản lí</div>
            </div>
            <div class="personnel-item">
                <img class="personnel-img" src="~/images/about/per1.jpg" alt="personnel">
                <div class="personnel-name">NGUYỄN VĂN AN</div>
                <div class="personnel-pos">Quản lí</div>
            </div>
            <div class="personnel-item">
                <img class="personnel-img" src="~/images/about/per1.jpg" alt="personnel">
                <div class="personnel-name">NGUYỄN VĂN AN</div>
                <div class="personnel-pos">Quản lí</div>
            </div>
        </div>
    </div>
</section>
<!-- Personnel End -->
<!-- Partner Start -->
<section class="section">
    <div class="l-container">
        <div id="recipeCarousel" class="carousel slide ct-carousel-partner" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="col-lg-2 col-sm-6 p-2 col-12">
                        <div class="card1">
                            <div class="card-img">
                                <img src="~/images/partner/Rectangle 61.jpg" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-sm-6 p-2 col-12">
                        <div class="card-item">
                            <div class="card-img">
                                <img src="~/images/partner/Rectangle 63.jpg" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-sm-6 p-2 col-12">
                        <div class="card-item">
                            <div class="card-img">
                                <img src="~/images/partner/Rectangle 66.jpg" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-sm-6 p-2 col-12">
                        <div class="card-item">
                            <div class="card-img">
                                <img src="~/images/partner/Rectangle 68.jpg" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-2 col-md-6 p-2 col-12">
                        <div class="card-item">
                            <div class="card-img">
                                <img src="~/images/partner/Rectangle 69.jpg" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-transparent" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</section>
<!-- Partner End -->
<!-- Support Start -->
<section class="section st-support">
    <div class="st-support__bgtop"></div>
    <div class="l-container">
        <div class="support">
            <div class="support-text">
                <h3>Hỗ trợ ngay</h3>
                <div class="support-subtitle">
                    Do you know what it takes to grow your business online? Do you want to?
                </div>
            </div>
            <div class="support-form">
                <div class="form">
                    <div class="form-line">
                        <div class="form-item">
                            <div class="form-title">Họ và tên <span>*</span></div>
                            <div><input type="text"></div>
                        </div>
                        <div class="form-item">
                            <div class="form-title">Email <span>*</span></div>
                            <div><input type="email"></div>
                        </div>
                    </div>
                    <div class="form-line">
                        <div class="form-item">
                            <div class="form-title">Số điện thoại <span>*</span></div>
                            <div><input type="text"></div>
                        </div>
                        <div class="form-item">
                            <div class="form-title">Địa chỉ <span>*</span></div>
                            <div><input type="text"></div>
                        </div>
                    </div>
                    <div class="form-line">
                        <div class="form-item">
                            <div class="form-title">Yêu cầu của bạn <span>*</span></div>
                            <textarea placeholder="Nhập nội dung" cols="30" rows="7"></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="button-primary link" href="#">Gửi yêu cầu</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Support End -->
